* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container-left {
    width: 60%;
    padding-left: 136px;
    margin-top: 20%;
}

.container-right {
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499ea;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

header {
    display: flex;
    margin: 24px 0 0 57px;
    gap: 41px;
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    color: #5D5D7E;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

@media screen and (max-width: 900px) {
    .wrapper {
        display: block;
    }

    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 100%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        font-weight: 400;
        text-align: center;
        margin: 58px 50px 0 50px;
    }

    p {
        margin: 15px 40px;
        width: auto;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }




}